body{
    background-color: black;
    color: white;
}

section{
    background-color: rgb(77, 77, 228);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
header{
    font-size: 25px;
    text-align:left ;
}